@media screen and (min-width: 768px){
    body{
        background-image: linear-gradient(to right,rgb(249, 133, 0), blueviolet);
    }
    main{
        width: 600px;
        height: 320px;
        border-radius: 10px;

    }
    section#imagem{
        float: left;
        width: 30%;
        height: 100%;
        background-position: center;
    }
    section#formulario{
        float: right;
        width: 70%;
    }
    h1{
        font-size: 2.5em;
    }
    p{
        font-size: 1em;
        margin-bottom: 5px;
    }
}
@media screen and (min-width:978px){
    main{
        width: 700px;
        height: 340px;
    }
    section#imagem{
        width: 50%;
        float: right;
    }
    section#formulario{
        width: 50%;
        float: left;
    }
}